%title Chat

%body
  %table
    %tr
      %td
        %div{:class => 'chat-content'}
        %form{:id => "user1"}
          %input{:id => "msg1"}
          %input{:type => "submit", :id => "send", :value => "send"}

      %td
        %div{:class => 'chat-content'}
        %form{:id => "user2"}
          %input{:id => "msg2"}
          %input{:type => "submit", :id => "send", :value => "send"}
      
      %td
        %div{:class => 'chat-content'}
        %form{:id => "user3"}
          %input{:id => "msg3"}
          %input{:type => "submit", :id => "send", :value => "send"}
